[Unit]
Description=Run KTC Mail Prometheus metrics collector every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Unit=ktc-mail-exporter.service

[Install]
WantedBy=timers.target
